header {
    background-color: #383D58;
    color:white;
    }
    .cabeçalho{
        background-color: #383D58;
        color: white;
        display: flex;
        justify-content: space-around:baseline
        
    }
    justify-content; space-around;
    img.cabecalho.imagem{
        
    }